*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
 .font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}
.logo{
    width: 139px;
    height: 60px;

}
.btn{
    color: aliceblue;
    background-color: #30B868;
    padding: 12px 16px;
    font-size: 16px;
    font-weight:700;

}

header{
    background-color:beige;
      padding-top:34px;
      font-weight: 600;
  
}
nav{
    width: 1600px;
    height: 92px; 
    border: 1px solid red;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    list-style-type: none;

}
nav .manu{
    height: 24px;
   display: flex;
   align-items: center;
    list-style-type: none;
    
   gap: 32px
   
   
  

}
nav .manu a{ 
    color:#000000 ;
    font: 16px;
    font-weight: 500; 
    line-height: 152%;
    letter-spacing: 0%;
    text-transform: capitalize;
     text-align:left;
      
    text-decoration: none;
}

